
    <small style="color: red; opacity: 0.6; font-style: italic;">(cannot edit)</small></label>
    <i class="fa-regular fa-circle-xmark" style="position: absolute; right: 25px; top: 51px; color: red; opacity: 0.7;"></i>
      